@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
} 

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/hero-img.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-text {
    color: white;
}

.github-logo {
    width: 50px;
    height: 50px;
  }